.card {
  width: 350px;
  box-shadow: 4px 4px 7px #ccc;
  padding: 10px;
  border-radius: 10px;
  margin: 20px 15px;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.title {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
.category {
  text-align: center;
  margin: 20px;
}
.img {
  width: 50%;
  margin: 5px auto;
  object-fit: cover;
}
.price {
  text-align: center;
  padding: 10px;
}
